{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="{% url 'analyze' %}" class="active">home</a>
  <a href="{% url 'signup' %}">signup</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
  </a>
</div>

<div class="login-signup">
  <h1 class="title">Glimpse Sentiment</h1>
  <h3 id="subtitle">Welcome back!</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="submit">Login</button>
  </form>
</div>
{% endblock %}