body {
    background-color: rgba(255, 255, 255, 0.425);
    color: rgb(255, 143, 162);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40pt;
    color: rgb(153, 209, 177); 
}

h3 {
    margin-top: 5px;
}

.for {
    font-family: Arial, Helvetica, sans-serif;
    color: 255, 143, 162;
    font-weight: bold;
    text-align: center;
    font-size: 20pt;
    margin-top: 7px;
    margin-bottom: 0px;
}

.search-term {
    margin-top: 0px;
    margin-bottom: 10px;
}

.submit {
    color: rgb(138, 137, 137);
}

.login {
    text-align: center;
}

.results {
    text-align: center;
} 

.title {
    margin-top: 10px;
    margin-bottom: 0px;
}

.search-title {
    margin-top: 10px;
    margin-bottom: 0px;
}

.subtitle {
    text-align: center;
    font-size: 20pt;
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
}

#subtitle {
    text-align: center;
    font-size: 20pt;
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.cloud-text {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.score {
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.chart {
    height: 300px;
    width: 80%;
    margin: auto;
}

.search {
    text-align: center;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    font-weight: bold;
    font-size: 15pt;
}
  
@media (min-width: 992px) {
    .footer {
        display: block;
        padding: 20px 0;
        margin-bottom: 0;
        text-align: center;
        overflow: hidden;
        width: 100%;
    }
}

.search-input {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
text-align: center;  
}

:-ms-input-placeholder {  
text-align: center; 
}

input {
    font-size: 15pt;
    height: 44px;
    background-color: transparent;
    color: rgb(138, 137, 137);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color:black;
    text-align: left;
}

::placeholder {
    color: rgb(138, 137, 137);
}

button {
    font-size: 15pt;
    height: 44px;
    background-color: transparent;
    color: rgb(138, 137, 137);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: rgb(138, 137, 137);
    text-align: left;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    padding-bottom: 10px;
    padding-top: 10px;
}

select {
    font-size: 15pt;
    height: 44px;
    background-color: transparent;
    color: rgb(138, 137, 137);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: rgb(138, 137, 137);
    text-align: left;
}

select:focus, input:focus, button:focus {
    outline-color: rgb(153, 209, 177);
}

input:hover, button:hover {
    outline-style: auto;
    outline-width: 5px;
    outline-color: rgb(153, 209, 177);
}

a:visited { 
    text-decoration: none; 
    color: rgb(211, 149, 211);
}
a:hover { 
    text-decoration: underline; 
}
a:active { 
    text-decoration: underline; 
}

a {
    text-align: right;
    text-decoration: none;
    color: rgb(82, 170, 228);
}

.return-to-search {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

.login-signup {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    font-size: 15pt;
}

.user-welcome {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}

.helptext {
    display: none;
}

li {
    display: none;
}

.signup {
    text-align: center;
}






/* Add a background color to the top navigation */
.topnav {
    background-color: rgb(153, 209, 177);
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 10px 10px;
text-decoration: none;
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: rgb(255, 143, 162);
color: white;
float: left;
}

/* Add an active class to highlight the current page */
.topnav a.active {
background-color: rgb(255, 143, 162);
color: white;
float: left;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}