{% extends 'base.html' %}

{% block title %}Glimpse Sentiment{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% if user.is_authenticated %}
    <div class="topnav" id="myTopnav">
        <a href="{% url 'analyze' %}" class="active">home</a>
        <a href="{% url 'logout' %}" class="link">logout</a>
        <a class="link">Hi <b>{{ user.username }}</b>!</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
{% else %}
    <div class="topnav" id="myTopnav">
        <a href="{% url 'analyze' %}" class="active">home</a>
        <a href="{% url 'login' %}" class="link">login</a>
        <a href="{% url 'signup' %}" class="link">signup</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
{% endif %}
<input type='hidden' value="{{ q }}" id="query">
<h1 class="title">Glimpse Results</h1>
<div id="app" class="results">
    <h4 class="for">for</h4>
    <h1 class="search-term">[[ q ]]</h1>
    <p>
        <h2 class="score">Positive Score: [[ pos ]]<br>Negative Score: [[ neg ]]</h2>
        <h3 class="text">Sentiment Summary</h3>
    </p>
    <p>
        <div class="chart">
            <canvas id="myChart" width="50" height="50"></canvas>
        </div>
        <h3 class="text">Sentiment: Positive vs. Negative</h3>
    </p>
    <!-- <p>
        <img v-if="loadingComplete" src="/static/bar.png" alt="Sentiment Graph">
        <h3 class="text">Sentiment: Positive vs. Negative</h3>
    </p> -->
    <p>
        <img v-if="loadingComplete" src="/static/wordcloud.png" style='width:80%;' alt="Glimpse Wordcloud">
        <h3 class="cloud-text">Words most commonly used in your Glimpse</h3>
        <h4 class="notes"><i>*frequency reflected in size // largest = most frequently used</i></h4>
    </p>
    <!-- <a href="/" class="return-to-search">Glimpse again!</a> -->
    <button onclick="window.location.href = '/';" class="return-to-search">Catch another Glimpse</button>
</div>
<script>
let queryVal = document.querySelector("#query").value;
let vm = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data:{
        neg:'',
        pos:'',
        loadingComplete: false,
        q: '',
    },
    created: function(){
        axios({
            method:"post",
            url:"{% url 'sentiment' %}",
            data:{
                query:queryVal
            }
        }).then((response)=>{
            this.q = response.data.q;
            this.neg = response.data.neg;
            this.pos = response.data.pos;
            myChart.data.datasets[0].data=[this.pos, this.neg];
            myChart.update()
            this.loadingComplete = true;
        })
    }    
});

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Positive', 'Negative'],
        datasets: [{
            label: '',
            data: [.5,.5],
            backgroundColor: [
                'rgba(153, 209, 177, 0.6)',
                'rgba(255, 143, 162, 0.6)'
            ],
            borderColor: [
                'rgba(153, 209, 177, 1)',
                'rgba(255, 143, 162, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            display: false
        },
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}